@-ms-viewport{
	width: device-width;
}
@-o-viewport { width: device-width; }

/*prevent scroll for load screen. Only allows material design scroll*/
html {
	overflow-y: hidden;
}

.center-content {
	justify-content: center;
	position: relative;
}

body  { background-color: #f6f6f6; }

.font-open { font-family: 'Libre Franklin', sans-serif; }
.font-wendy {	font-family: 'Oswald', sans-serif, Helvetica, Arial, sans-serif; }

p { 
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
	color: #121212;
}

h3 {
	color: #22313f;
	margin-bottom: 30px;
}

h3.h3-portfolio {
	color: #f6f6f6;
}

.navigation-link {
	color: red;
}
/*Ripple effects for a*/
a.mdl-js-ripple-effect { position: relative; }

.header-color {
	background:     linear-gradient(
		rgba(34, 49, 63, 1), 
		rgba(34, 49, 63, 1)
		);
	color: white;
}

#mobile-bar {
	background-color: #212121;
}

.mobile-nav {
	font-size: 175%;
}

.header-name {
	display: none;
}
.intro{
	position: relative;
/*  background: url("assets/img/sunset.jpg");*/
	/*    background-color: #8C9EFF;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


.name-text {
	padding-top: 17vh;
	color: #121212;
	font-size: 90px;
	margin-bottom: 1px;
}

.occupation-text {
	font-size:21px;
	color: #22313f;
	display:inline;
}

#occ {
	background: #22313f;
 	color:white;
}

#lastname-header {
	color: #999999;
}

#firstname {
	color:white;
}

#circle {
	color: #121212;
}

#lastname {
	color: #22313f;
}

#down-arrow {
	width: 130px;
	height: 100px;
}

.portfolio {
	min-height: calc(100vh - 64px);
	background: url(assets/img/laptop.jpeg);
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-top: 25px;
	padding-bottom: 90px;
}

@-webkit-keyframes infiniteScroll {
	0% {
		background-position: 3000px 0px;
	}
	100% { 
		background-position: 0px 0%;
	}
}

.project-cards {
	width: 25vw;
	max-width: 500px;
	height: 30vh; 
	font-size: 200%;
	margin: 10px;
	cursor: pointer;
	-webkit-transition: all .3s ease; /* Safari and Chrome */
	-moz-transition: all .3s ease; /* Firefox */
	-ms-transition: all .3s ease; /* IE 9 */
	-o-transition: all .3s ease; /* Opera */
	transition: all .3s ease;
}


.project-cards > .mdl-card__title {
	color: white;
}

/*.project-cards-big {
	width: 820px;
	height: 400px; 
	max-width:100%;
	max-height:100%;
	font-size:300%;
	margin: 10px;
	cursor: pointer;
	}*/

/*.project-cards:hover {
	background-color:rgba(0, 0, 0, 0.8);
	transform: scale(1.03);
}

.project-cards-big:hover {
	transform: scale(1.03);
}
*/

.project-cards:hover {
	-webkit-transform:scale(1.03); /* Safari and Chrome */
	-moz-transform:scale(1.03); /* Firefox */
	-ms-transform:scale(1.03); /* IE 9 */
	-o-transform:scale(1.03); /* Opera */
	transform:scale(1.03);
}

dialog {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	justify-content: center;
}


#project-one {
	background: url('assets/img/Logo.jpg');
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;  
}

#project-two {
	background: url('assets/img/hcsb.jpg');
	background-color: white;
	background-size: contain;
	background-repeat:   no-repeat;
	background-position: center;  
}

#project-three {
	background: url('assets/img/dotChomp.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

#project-four {
	background: url('assets/img/haystacktv-splash.jpg');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: bottom;
	color: red;  
}

#project-five {
	background: url('assets/img/Glidr.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

#project-six {
	background: url('assets/img/poe-mac.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

#project-seven {
	background: url('assets/img/LabTrakk.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

.portfolio-dialog {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	max-height: 80vh;
	max-width: 80vw;
	overflow-y: auto;
	background-color: #22313f;
	color: #a9a9a9;
	text-align: center;
	border-style: groove;
	border-color: #696969;
}

.mdl-dialog__content > p {
	color: #999999;
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 10px 10px 0 10px;
	max-width: 800px;
}

a.mdl-button.mdl-js-button {
	color:rgba(228, 241, 254, 1);
}

.dialog-pictures {
	max-width: 750px;
	padding: 10px;
}


.about-me {
	min-height: calc(100vh - 64px);
	width: 100vw;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 4%;
	padding-bottom: 4%;
	color: #A9A9A9;
 }
#about-text-cell {
  max-width: 700px;
}

 #about-text {
	font-size: 12pt;
	font-weight: normal;
	font-family: 'Libre Franklin', sans-serif;
	color: #999999;
	padding: 0 10px 15px 10px;
}

.tech-section {
	display: block;
}
.tech-section p {
	color: #22313f;
}

.tech-icons-row {
	display: block;
}

.tech-icons {
	display: inline-block;
	padding: 15px 20px 15px 20px;
}

.tech-icons:hover {
	-webkit-transform:scale(1.06); /* Safari and Chrome */
	-moz-transform:scale(1.06); /* Firefox */
	-ms-transform:scale(1.06); /* IE 9 */
	-o-transform:scale(1.06); /* Opera */
	transform:scale(1.06);
}

.tech-images {
	display: block;
	width: 75px;
	filter:drop-shadow(5px 5px 8px #212121);
}


.contact-info {
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 70px;
	color: #22313f;
}

#feedback-sentence {
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
}

.info-cell {
	padding-bottom: 30px;
	font-size: 12pt;
	max-width: 200px;
}

.info-button {
	font-size: 1.2em;
	height: 100%;
	width: 100%;
	color: #999999;;
}
.info-button:hover {
	color: #22313f;
	background: none;
}

.info-cell > p {
	font-size: 10pt;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: normal;
}


.footer {
	background-color: #22313f;
	padding: 8px 15px;
}



.fadeinfast {
		animation: fadeinfast 3s;
		-moz-animation: fadeinfast 3s; /* Firefox */
		-webkit-animation: fadeinfast 3s; /* Safari and Chrome */
		-o-animation: fadeinfast 3s; /* Opera */
}
@keyframes fadeinfast {
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}
@-moz-keyframes fadeinfast { /* Firefox */
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}
@-webkit-keyframes fadeinfast { /* Safari and Chrome */
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}
@-o-keyframes fadeinfast { /* Opera */
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}

.fadeinslow {
		animation: fadeinslow 4.5s;
		-moz-animation: fadeinslow 4.5s; /* Firefox */
		-webkit-animation: fadeinslow 4.5s; /* Safari and Chrome */
		-o-animation: fadeinslow 4.5s; /* Opera */
}
@keyframes fadeinslow {
		from {
				opacity:0;
				transform: translateY(30px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}
@-moz-keyframes fadeinslow { /* Firefox */
		from {
				opacity:0;
				transform: translateY(30px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}
@-webkit-keyframes fadeinslow { /* Safari and Chrome */
		from {
				opacity:0;
				transform: translateY(30px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}
@-o-keyframes fadeinslow { /* Opera */
		from {
				opacity:0;
				transform: translateY(30px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}

.fadeinextraslow {
		animation: fadeinextraslow 4s;
		-moz-animation: fadeinextraslow 4s; /* Firefox */
		-webkit-animation: fadeinextraslow 4s; /* Safari and Chrome */
		-o-animation: fadeinextraslow 4s; /* Opera */
}
@keyframes fadeinextraslow {
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}
@-moz-keyframes fadeinextraslow { /* Firefox */
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}
@-webkit-keyframes fadeinextraslow { /* Safari and Chrome */
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}
@-o-keyframes fadeinextraslow { /* Opera */
		from {
				opacity:0;
		}
		to {
				opacity: 1;
		}
}


#infiniteBackground {
	background: black url(assets/img/sanfran.png) 5% 5%;
	background-size: cover;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	-webkit-animation-name: onePassScroll;
	-webkit-animation-duration: 70s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	z-index: -1;
	background-attachment: fixed;
	background-position: bottom;
}

@-webkit-keyframes onePassScroll {
	0% {
		opacity: 0;
		background-position: 0 0px;
	}
	1% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% { 
		opacity: 0;
		background-position: 100% 0%;
	}
}
.view .mask, .view .content {
		background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0
}

.view h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
		margin: 20px 0 0 0
}
.view p {
		font-family: 'Libre Franklin', sans-serif;
		font-style: italic;
		font-size: 14px;
		position: relative;
		color: #fff;
		padding: 20px 20px 20px;
		text-align: center
}
.view .info {
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		box-shadow: 0 0 1px #000
}
.view .info:hover {
		box-shadow: 0 0 5px #000
}

.view-card .mask {
		opacity: 0;
		background-color: rgba(31,31,31, 0.8); 
		transition: all 0.4s ease-in-out;
}
.view-card h2 {
		font-family: 'Oswald', sans-serif, Helvetica, Arial, sans-serif;
		transform: translateY(-100px);
		opacity: 0;
		transition: all 0.2s ease-in-out;
}
.view-card p {  
		transform: translateY(100px);
		opacity: 0;
	transition: all 0.2s linear;
}
.view-card .info{
		opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-card:hover .mask { 
	opacity: 1;
}
.view-card:hover h2,
.view-card:hover p,
.view-card:hover a.info {
		opacity: 1;
		transform: translateY(0px);
}
.view-card:hover p {
		transition-delay: 0.1s;
}
.view-card:hover .info {
		transition-delay: 0.2s;
}

/*----------------------------MEDIA WIDTH--------------------------------------*/
@media(max-width: 1024px) {
	.project-cards {
		width: 46vw;
	}
	.dialog-pictures {
		max-width: 73vw;
		padding: 7px;
	}
}
@media(max-width: 768px) {
	.name-text {
		font-size: 80px;
	}
	.occupation-text {
		font-size: 18px;
	}
	.project-cards {
		width: 80vw;
		height: 40vh;
	}
	.dialog-pictures {
		max-width: 70vw;
		padding: 5px;
	}

	@-webkit-keyframes US {
		from {
			background-position: 25% 0%;
			filter:hue-rotate(0deg)
		}
		50% {
			background-position: -1300px 0px;
			filter:hue-rotate(-30deg)
		}
		to { 
			background-position: 25% 0%;
			filter:hue-rotate(0deg)
		}
	}`
}
@media(max-width: 400px) {
	.name-text {
		font-size: 55px;
	}
	.occupation-text {
		font-size: 15px;
	}
	#about-text {
		font-size: 9pt;
	}
	.dialog-pictures {
		max-width: 60vw;
		padding: 3px;
	}
	.view .info {
		display: none;
	}
	@-webkit-keyframes US {
		from {
			background-position: 33% 0%;
			filter:hue-rotate(0deg)
		}
		50% {
			background-position: -1500px 0px;
			filter:hue-rotate(-30deg)
		}
		to { 
			background-position: 33% 0%;
			filter:hue-rotate(0deg)
		}
	}
}
