@-ms-viewport{
	width: device-width;
}
@-o-viewport { width: device-width; }

/*prevent scroll for load screen. Only allows material design scroll*/
html {
	overflow-y: hidden;
}

#load-screen {
	background-color: black;
	height: 100vh;
	justify-content: center;
}

#loader {
	top: 40%;
	left: 46%;
	width: 100px;
	height: 100px;
}

.center-content {
	justify-content: center;
	position: relative;
}

body  { background-color: #121212; }

.font-open { font-family: 'Libre Franklin', sans-serif; }
.font-wendy {	font-family: 'Oswald', sans-serif, Helvetica, Arial, sans-serif; }

p { 
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
	color: #121212;
}

.navigation-link {
	color: red;
}
/*Ripple effects for a*/
a.mdl-js-ripple-effect { position: relative; }

.header-color {
	background-color: #121212;
	background:     linear-gradient(
		rgba(0, 0, 0, 0.9), 
		rgba(0, 0, 0, 0.9)
		);
	color: white;
}

#mobile-bar {
	background-color: #212121;
}

.mobile-nav {
	font-size: 175%;
}

.header-name {
	display: none;
}
.intro{
	position: relative;
/*  background: url("assets/img/sunset.jpg");*/
	/*    background-color: #8C9EFF;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


.name-text {
	padding-top: 17vh;
	color: #121212;
	font-size: 90px;
}

#lastname-header {
	color: #A9A9A9;
}

#firstname {
	color:white;
}

#circle {
	color: #121212;
}

#lastname {
	color: #A9A9A9;
}

#down-arrow {
	width: 130px;
	height: 100px;
}

.portfolio {
	position: relative;
	/*background-color: #121212;*/
	/*background: url("assets/img/wow.jpg") top center;*/
	/*    background: rgba(84, 110, 122, .2);*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 25px;
	padding-bottom: 90px;

}

#portfolio-title {
	font-size: 275%;
	padding-bottom: 20px;
	color: white;
}

.project-cards {
	width: 25vw;
	max-width: 500px;
	height: 30vh; 
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	font-size: 200%;
	margin: 10px;
	cursor: pointer;
	/*border-radius: 8px;*/
	-webkit-transition: all .3s ease; /* Safari and Chrome */
	-moz-transition: all .3s ease; /* Firefox */
	-ms-transition: all .3s ease; /* IE 9 */
	-o-transition: all .3s ease; /* Opera */
	transition: all .3s ease;
}


.project-cards > .mdl-card__title {
	color: white;
}

/*.project-cards-big {
	width: 820px;
	height: 400px; 
	max-width:100%;
	max-height:100%;
	font-size:300%;
	margin: 10px;
	cursor: pointer;
	}*/

/*.project-cards:hover {
	background-color:rgba(0, 0, 0, 0.8);
	transform: scale(1.03);
}

.project-cards-big:hover {
	transform: scale(1.03);
}
*/

.project-cards:hover {
	-webkit-transform:scale(1.03); /* Safari and Chrome */
	-moz-transform:scale(1.03); /* Firefox */
	-ms-transform:scale(1.03); /* IE 9 */
	-o-transform:scale(1.03); /* Opera */
	transform:scale(1.03);
}

dialog {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	justify-content: center;
}


#project-one {
	background: url('assets/img/Logo.jpg');
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;  
}

#project-two {
	background: url('assets/img/hcsb.jpg');
	background-color: white;
	background-size: contain;
	background-repeat:   no-repeat;
	background-position: center;  
}

#project-three {
	background: url('assets/img/dotChomp.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

#project-four {
	background: url('assets/img/haystacktv-splash.jpg');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: bottom;
	color: red;  
}

#project-five {
	background: url('assets/img/FastBallMockup.jpg');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

#project-six {
	background: url('assets/img/PoE.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

#project-seven {
	background: url('assets/img/LabTrakk.png');
	background-size: cover;
	background-repeat:   no-repeat;
	background-position: center center;  
}

.portfolio-dialog {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	max-height: 80vh;
	max-width: 80vw;
	overflow-y: auto;
	background-color: #121212;
	color: #a9a9a9;
	/*  opacity: .98;*/
	text-align: center;
	border-style: groove;
	border-color: #696969;
}

.mdl-dialog__content > p {
	color: white;
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.dialog-pictures {
	max-width: 750px;
	padding: 10px;
}


.about-me {
	min-height:100vh;
	width: 100vw;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 4%;
	padding-bottom: 4%;
	color: #A9A9A9;
 }
#about-text-cell {
  max-width: 700px;
}

 #about-text {
	font-size: 10pt;
	font-weight: normal;
	font-family: 'Libre Franklin', sans-serif;
	color: white;
	padding-bottom: 15px;
}

.tech-section {
	display: block;
}
.tech-section p {
	color: white;
}

.tech-icons-row {
	display: block;
}

.tech-icons {
	display: inline-block;
	padding: 15px 20px 15px 20px;
}

.tech-icons:hover {
	-webkit-transform:scale(1.06); /* Safari and Chrome */
	-moz-transform:scale(1.06); /* Firefox */
	-ms-transform:scale(1.06); /* IE 9 */
	-o-transform:scale(1.06); /* Opera */
	transform:scale(1.06);
}

.tech-images {
	display: block;
	width: 100px;
	filter:drop-shadow(8px 8px 10px #212121);
}


.contact-info {
	position: relative;
	/*background: url("assets/img/usnight.jpg") top center;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 180px;
}

#info-title {
	font-size: 275%;
	color: white;
	padding-bottom: 16px;
}

#feedback-sentence {
	font-size: 12pt;
	color: #A9A9A9;
	font-weight: normal;
	font-style: italic;
}

.info-cell {
	padding-bottom: 30px;
	font-size: 12pt;
	max-width: 200px;
}

.info-button {
	font-size: 1.4em;
	height: 100%;
	width: 100%;
	color: white;
}

.info-cell > p {
	font-size: 10pt;
	color: white;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: normal;
}


.footer {
	background-color: black;
}



.fadeinfast {
		animation: fadeinfast 3s;
		-moz-animation: fadeinfast 3s; /* Firefox */
		-webkit-animation: fadeinfast 3s; /* Safari and Chrome */
		-o-animation: fadeinfast 3s; /* Opera */
}
@keyframes fadeinfast {
		from {
				opacity:0;
				/*transform: translateX(25px);*/
				filter: contrast(400%);
		}
		to {
				opacity: 1;
				/*transform: translateX(0px);*/
				filter: contrast(100%);
		}
}
@-moz-keyframes fadeinfast { /* Firefox */
		from {
				opacity:0;
				/*transform: translateX(25px);*/
				filter: contrast(400%);
		}
		to {
				opacity: 1;
				/*transform: translateX(0px);*/
				filter: contrast(100%);
		}
}
@-webkit-keyframes fadeinfast { /* Safari and Chrome */
		from {
				opacity:0;
				/*transform: translateX(25px);*/
				filter: contrast(400%);
		}
		to {
				opacity: 1;
				/*transform: translateX(0px);*/
				filter: contrast(100%);
		}
}
@-o-keyframes fadeinfast { /* Opera */
		from {
				opacity:0;
				/*transform: translateX(25px);*/
				filter: contrast(400%);
		}
		to {
				opacity: 1;
				/*transform: translateX(0px);*/
				filter: contrast(100%);
		}
}

.fadeinslow {
		animation: fadeinslow 5s;
		-moz-animation: fadeinslow 5s; /* Firefox */
		-webkit-animation: fadeinslow 5s; /* Safari and Chrome */
		-o-animation: fadeinslow 5s; /* Opera */
}
@keyframes fadeinslow {
		from {
				opacity:0;
				transform: translateY(100px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}
@-moz-keyframes fadeinslow { /* Firefox */
		from {
				opacity:0;
				transform: translateY(100px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}
@-webkit-keyframes fadeinslow { /* Safari and Chrome */
		from {
				opacity:0;
				transform: translateY(100px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}
@-o-keyframes fadeinslow { /* Opera */
		from {
				opacity:0;
				transform: translateY(100px);
		}
		to {
				opacity: 1;
				transform: translateY(0px);
		}
}


#usbackground {
	background: black url(assets/img/usnight.jpg) 5% 5%;
	background-size: cover;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	-webkit-animation-name: US;
	-webkit-animation-duration: 120s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	z-index: -1;
	background-attachment: fixed;
	background-position: bottom;
}

@-webkit-keyframes US {
	from {
		background-position: 10% 0%;
		filter:hue-rotate(0deg)
	}
	50% {
		background-position: -1000px 0px;
		filter:hue-rotate(-30deg)
	}
	to { 
		background-position: 10% 0%;
		filter:hue-rotate(0deg)
	}
}

#techbackground {
	background: black url(assets/img/SpaceEarth.png) 5% 5%;
	background-size: cover;
	background-position: bottom;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	-webkit-animation-name: TECHS;
	-webkit-animation-duration: 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	z-index: -1;
	background-attachment: fixed;
	background-position: center;
}

@-webkit-keyframes TECHS {
	from {
		background-position: 80% 100%;
		opacity: .5;
	}
	50% { 
		background-position: 0% 0%;
		opacity: .8;
	}
	to {
		background-position: 80% 100%;
		opacity: .5;
	}
}

#background {
	background: black url(assets/img/background.png) 5% 5%;
	position: absolute;
	background-position: top;
	top: 0; left: 0; right: 0; bottom: 0;
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	z-index: -1;
	background-attachment: fixed;
	background-position: center;
}

#midground {
	background: url(assets/img/midground.png) repeat 20% 20%;
	opacity: 0.5;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	z-index: -1;
	background-attachment: fixed;
	background-position: center;
}

#foreground {
	background: url(assets/img/foreground.png) repeat 5% 5%;
	opacity: 0.5;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	z-index: -1;
	background-attachment: fixed;
	background-position: center;
}

@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%;
		filter:hue-rotate(0deg)
	}
	50% {
		background-position: 100% -75%;
		filter:hue-rotate(-360deg)
	}
	to { 
		background-position: 5% 5%;
		filter:hue-rotate(0deg)
	}
}



/*.view {
		width: 300px;
		height: 200px;
		margin: 10px;
		float: left;
		border: 10px solid #fff;
		overflow: hidden;
		position: relative;
		text-align: center;
		box-shadow: 1px 1px 2px #e6e6e6;
		cursor: default;
		background: #fff url(../images/bgimg.jpg) no-repeat center center
}*/
.view .mask, .view .content {
		background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0
}

.view h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
		margin: 20px 0 0 0
}
.view p {
		font-family: 'Libre Franklin', sans-serif;
		font-style: italic;
		font-size: 14px;
		position: relative;
		color: #fff;
		padding: 20px 20px 20px;
		text-align: center
}
.view .info {
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		box-shadow: 0 0 1px #000
}
.view .info:hover {
		box-shadow: 0 0 5px #000
}

.view-card .mask {
		opacity: 0;
		background-color: rgba(31,31,31, 0.8); 
		transition: all 0.4s ease-in-out;
}
.view-card h2 {
		font-family: 'Oswald', sans-serif, Helvetica, Arial, sans-serif;
		transform: translateY(-100px);
		opacity: 0;
		transition: all 0.2s ease-in-out;
}
.view-card p {  
		transform: translateY(100px);
		opacity: 0;
	transition: all 0.2s linear;
}
.view-card .info{
		opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-card:hover .mask { 
	opacity: 1;
}
.view-card:hover h2,
.view-card:hover p,
.view-card:hover a.info {
		opacity: 1;
		transform: translateY(0px);
}
.view-card:hover p {
		transition-delay: 0.1s;
}
.view-card:hover .info {
		transition-delay: 0.2s;
}

/*----------------------------MEDIA WIDTH--------------------------------------*/
@media(max-width: 1024px) {
	.project-cards {
		width: 46vw;
	}
	.dialog-pictures {
		max-width: 73vw;
		padding: 7px;
	}
}
@media(max-width: 768px) {
	.name-text {
		font-size: 80px;
	}
	.project-cards {
		width: 80vw;
		height: 40vh;
	}
	.dialog-pictures {
		max-width: 70vw;
		padding: 5px;
	}

	@-webkit-keyframes US {
		from {
			background-position: 25% 0%;
			filter:hue-rotate(0deg)
		}
		50% {
			background-position: -1300px 0px;
			filter:hue-rotate(-30deg)
		}
		to { 
			background-position: 25% 0%;
			filter:hue-rotate(0deg)
		}
	}`
}
@media(max-width: 400px) {
	.name-text {
		font-size: 55px;
	}
	.dialog-pictures {
		max-width: 60vw;
		padding: 3px;
	}
	.view .info {
		display: none;
	}
	@-webkit-keyframes US {
		from {
			background-position: 33% 0%;
			filter:hue-rotate(0deg)
		}
		50% {
			background-position: -1500px 0px;
			filter:hue-rotate(-30deg)
		}
		to { 
			background-position: 33% 0%;
			filter:hue-rotate(0deg)
		}
	}
}
